.favoriteTours {
    width: 100%;
}

.pageTitle {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.emptyState {
    text-align: center;
    padding: 60px 20px;
    color: #999;
    font-size: 16px;
}


