.forumLayout {
  height: calc(100vh - 80px); 
  background-color: #f8f9fa;
  overflow: hidden; 
  box-sizing: border-box;
}

.forumContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%; 
  
  display: grid;
  grid-template-columns: 280px 1fr 330px;
  gap: 24px;

  @media (max-width: 1200px) {
    grid-template-columns: 280px 1fr;
  }
  
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.forumLeftSidebar {
  height: 100%; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px; 

  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
  }

  @media (max-width: 992px) {
    display: none;
  }
}


.forumMain {
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.forumRightSidebar {
  height: 100%;
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px;

  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}