// AdBanner.module.scss

.ad-banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  padding-right: 20px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.ad-banner-container {
  display: flex;
  transition: transform 1s ease-in-out;
}

.ad-banner img {
  width: 100%;
  height: 500px;
  object-fit: auto;
  object-position: center;
  border-radius: 5px;
}

.banner-dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #4caf50;
}

.dot:hover {
  background-color: #00b894;
}
